---
import type { TBanner, THeader, TFooter } from "../types";
import "../styles/global.css";

type TStrapiResponse<T = null> = {
  success: boolean;
  data?: T;
  error?: {
    status: number;
    name: string;
    message: string;
    details?: Record<string, string[]>;
  };
  meta?: {
    pagination: {
      page: number;
      pageSize: number;
      pageCount: number;
      total: number;
    };
  };
};

type TGlobalData = {
  id: number;
  documentId: string;
  title: string;
  description: string;
  createdAt: string;
  updatedAt: string;
  publishedAt: string;
  banner: TBanner;
  header: THeader;
  footer: TFooter;
};

async function getStrapiGlobalData(): Promise<TStrapiResponse<TGlobalData>> {
  const BASE_URL = "http://localhost:1337";
  const path = "/api/global";
  const url = new URL(path, BASE_URL);
  const res = await fetch(url.href);
  const data = await res.json();
  console.log(data, { depth: null });
  return data;
}

const globalData = await getStrapiGlobalData();

const banner = globalData.data?.banner;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <div class="box">header</div>
    {banner?.isVisible && <div>{banner.description}</div>}
    <!-- <slot /> -->
    <div class="box">footer</div>
    <pre>{JSON.stringify(globalData)}</pre>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 4rem;
    background-color: aqua;
  }
</style>
